


:root {
  font-size: 14px;
  font-family: "Noto Sans TC", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a { text-decoration: none !important; }

.page-content {
  min-height: 100vh;
  position: relative;
}


hr {
  opacity: 0.15;
}

/* texts */


h1 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 400;
  color: #005FC3;
}

h2 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  color: #005FC3;
}

h3 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: #005FC3;
}

h4 {
  color: #232323;
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

/* text colors */

.font-color-orange {
  color: #EF6800;
}


/* inputs */


.input-1 {
  padding-top: 3px;
}

/* colors */

.bg-grey {
  background-color: #FAFAFA
}

.txt-info {
  background-color: #EF6800;
}

.txt-success {
  background-color: #97CC08;
}

.txt-warning {
  background-color: #FFC044;
}

.txt-error {
  background-color: #DB2E3D;
}

.txt-like {
  background-color: #FE2F7D;
}

.chart-surface {
  background-color: #0B1287;
}

.dark-grey-surface {
  background-color: #888888
}

/* hr  */



/* buttons */

.primary {
  background-color: #005FC3 !important;
  color: white !important;
}

.secondary {
  background-color: #3DA4D0;
  color: white;
}

.btn-secondary {
  background-color: #0086FF;
  color: white;
  font-size: 14px;
  padding: 3px 6px 3px 6px;
  height: 35px;
  width: 85px;

}

.btn-secondary:hover {
  background-color: #DDEDF3;
  color: #444444;
  transition: 0.2s linear;
}

.hoverDiv:hover button {
  transition: 0.2s linear;
  border-radius: 50rem;

  opacity: 1;
  background-color: white;
}



/* badges */

.badge {
  background-color: #97CC08;
  border-radius: 2rem;
}


/* menu */


.dashboard-nav {
  width: 250px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #FFFFFF;
}


.dashboard-nav header {
  min-height: 84px;
  padding: 8px 27px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}


.dashboard-nav-item {
  border: none;
  width: 100%;
  background-color: white;
  display: flex;
  line-height: 2.6rem;
  position: relative;
  white-space: nowrap;
  letter-spacing: 0.02em;
  transition: ease-out 0.5s;
}




.dashboard-nav-item:hover {
  background-color: #DDEDF3 !important;
}


.dashboard-nav-item:hover .nav-link-icon {
  background-color: #0086FF;
  color: white;
}



.highlight {
  background-color: #DDEDF3;

}


.highlight .nav-link-icon {
  background-color: #0086FF;
  color: white;
}

/* offcanvas */

#searchbar.offcanvas.offcanvas-start {
  z-index: -1 !important;
  left: 250px !important
}



.offcanvas-btn {
  top: 10px;
  left: 230px;

}

.offcanvas-btn-open {
  top: 10px;
  left: 480px !important;
}


.hide {
  height: 2rem;
}


.hide button {
  opacity: 0;
}

.icon-down:before {
  font-size: 12pt;
}


.chart-size-1 {
  width: 100vh;
  height: 46dvh;
}

.chart-size-2 {
  width: 50vh;
  height: 30vh;
}


.icon-button {
  width: 27px;
  height: 27px;
  background-color: transparent !important;
}

.nav-link-icon {
  border-radius: 50%;
  background-color: #F5F5F5;
  left: 5px;
  text-align: center;
  width: 34px;
  height: 34px;
  line-height: 30px;
  position: absolute;
  top: 50%;
  margin-top: -17px;
}



.dashboard-nav-item i {
  font-size: 18pt;
}


.dashboard-nav-dropdown-item {
  min-height: 40px;
  padding: 8px 20px 8px 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  transition: ease-out 0.5s;
}


.tab-button-1 {
  text-align: center;
  width: 95px;
  cursor: pointer;
  font-size: 14px;
  display: block;
  padding: 10px 8px 10px 8px;
  position: relative;
  white-space: nowrap;
  letter-spacing: 0.02em;
  transition: 0.2s;
  color: #888888 !important;
}






.dashboard-nav-item:hover .dashboard-nav-item:before {
  content: '';
  height: 100%;
  position: absolute;
  left: 20px;
  width: 1px;
  top: 0;
}

/* rotate arrow */


.active .dropdown-indicator-icon {
  transition: all 0.35s;
  transform: rotate(180deg);
}

.dropdown-indicator-icon {
  right: 0;
  text-align: center;
  width: 34px;
  height: 34px;
  line-height: 30px;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  transition: all 0.35s;
}


.accordion {
  --bs-accordion-border-color: none !important;
  --bs-accordion-btn-focus-box-shadow: none !important
}

.custom-accordion {
  --bs-accordion-bg: transparent !important;
}

.btn-last-child {
  padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x)
}


.accordion-button:not(.collapsed) {
  background-color: #DDEDF3 !important
}

.accordion-button:not(.collapsed) .nav-link-icon {
  background-color: #0086FF;
  color: white;
}

.dashboard-nav-item:hover>.linespan::before {
  display: block;
  content: '';
  height: 100%;
  background-color: #0055AF;
  position: absolute;
  z-index: 50;
  left: 20px;
  width: 1px;
  top: 0;
}



/* 
.dashboard-nav-item:hover .linespan::before {
 

} */

.dashboard-nav-item:hover>.subgroupLineSpan::before {
  display: block;
  content: '';
  height: 100%;
  background-color: #0055AF;
  position: absolute;
  z-index: 50;
  left: 50px;
  width: 1px;
  top: 0;

}

.highlight>.subgroupLineSpan::before {
  display: block;
  content: '';
  height: 100%;
  background-color: #0055AF;
  position: absolute;
  z-index: 50;
  left: 50px;
  width: 1px;
  top: 0;
}



.dashboard-nav-list {
  font-size: 14px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  padding-right: 0;
  overflow-x: hidden
}

#navmenu::-webkit-scrollbar {
  width: 0px;
}

.dashboard-nav a {
  color: #444444;
}

.dashboard-nav header .menu-toggle {
  display: none;
  margin-right: auto;
}

#searchbar {
  width: 238px;
  transition: 0.5s;
}

.avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.avatar-place {
  display: flex;
  border-radius: 50%;
  padding: 0;
  background-color: white;
  margin-left: 30px;
}

.tooltip-avatar {
  border-radius: 10%;
  padding: 9px;
  position: absolute;
  z-index: 3;
  margin-top: 3px;
}



.dashboard-app {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}

.header-align-center {
  margin-left: 38px;
  display: flex;
  align-items: center;
  gap: 3px;
}

#main-header i {
  font-size: large;
}

#main-header {
  width: 100%;
  padding-left: 16rem;
}

footer {

  width: 100%;
  margin-top: 15px;
  z-index: 0;
   position: absolute;
   background-color: #FAFAFA;
  color: #888888;
}

.dashboard-toolbar {
  justify-content: space-between;
  color: #F5F5F5;
  height: 64px;
  background-color: #0055AF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px 27px;

}



.logout-btn {
  display: block !important;
  text-align: center;
  padding: 10px 8px 10px 8px;
  background-color: #F5F5F5;
  width: 100%;
  color: #888888;
  transition: ease 0.3s;
}



.logout-btn:hover {
  background-color: #0086FF;
  color: white;
}

.login-btn {
  display: block !important;
  text-align: center;
  padding: 10px 8px 10px 8px;
  background-color: #005FC3;
  width: 100%;
  color: white !important;
  transition: ease 0.3s;
}



.login-btn:hover {
  background-color: #0086FF;

}




.btn-group>.pagination-btn:hover {
  background-color: #DDEDF3 !important;
  color: #444444;
}

.btn-group>.pagination-btn:active {
  color: white !important;
  background-color: #0086FF !important;
}

.pagination-btn {
  min-width: max-content;
}




.table th {
  color: #fff;
  background-color: #005FC3;
  text-align: center;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
  /* background-color: #f8f9fa; */
  --bs-table-bg-type: #f8f9fa;
}

td {
  font-size: 14px;
}

#calendar>thead>tr>th {
  width: 80px;
  height: 80px;
  vertical-align: top;
  background-color: #5EB1EC;

}

#calendar>tbody>tr>td {
  width: 80px;
  height: 120px;
  vertical-align: top;
  text-align: center;

}

.calendar-event {
  cursor: pointer;
}

.font-next-month {
  color: #D8D8D8;
}

.today {
  background-color: #F5F5F5 !important;
}

.hover-label>.icon-qa {
  background-color: #0086FF;
  border-radius: 100%;
  color: #DDEDF3;
  font-size: 10px;
}

.custom-tooltip {
  visibility: hidden;
  text-align: center;
  width: 80px;
  font-size: x-small;
  background-color: #444444;
  color: white;
  left: 20px;
  top: 25px;

}


.hover-label:hover .custom-tooltip {
  visibility: visible;
}


.hover-label>.position-relative {
  top: -25px;
  left: 65px;
}

.custom-tooltip-2 {
  text-align: center;
  width: 80px;
  font-size: x-small;
  background-color: #444444;
  color: white;
  margin-left: 3px;
  opacity: 0;
  visibility: hidden;
  transition: .4s;
}

.calendar-hover-card {
  opacity: 0;
  visibility: hidden;
  transition: .4s;
}

.hover-label:hover .custom-tooltip-2 {
  opacity: .8;
  visibility: visible;

}

.hover-label:hover .calendar-hover-card {
  opacity: 1;
  visibility: visible;

}

.empty-div {
  border-radius: 9px;
  width: 100%;
  height: 135px;
  border: 1px dashed #b9b9b9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #7e7e7e;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}



body {
  min-height: 100vh;
  margin: 0;
  place-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}


td {
  vertical-align: middle;
}

.font-b1-he {
  color: #232323;
  font-family: Noto Sans TC;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}


.font-b4-he {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  color: #232323;
}

.font-b4-me {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  color: #444;
}

.font-support {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  color: #888888;
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:disabled {
  background-color: rgb(248, 248, 248);
  color: rgb(216, 216, 216);
}


.overlay {
  visibility: hidden;
  background: rgba(39, 42, 43, 0.8);
  transition: opacity 200ms ease-in-out;
}



.card {
  padding: 2em;
}



.bg-custom-grey {
  background-color: #F5F5F5;

}


.bottom-fixed {
  position: fixed;
  bottom: 20px;
  right: 16px;
}

#searchBox {
  position: fixed;
  z-index: 1900;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #FAFAFA;
}

.dropdown-toggle::after {
  margin-left: 5em  ;
}

.dropdown-menu {
  min-width: 12.5rem
}



#controlBtn {
  color: #232323;
  transition: transform 0.5s
}

#controlBtn:hover {
  color: white;
}


.btn:hover {
  background-color: #DDEDF3 !important;
  color: #444444 !important;
}

.btn:active {
  background-color: #0086FF !important;
  color: #FFFFFF !important;
}


.btn:disabled {
  border-width: 0;
  background: #F8F8F8;
  color: #D8D8D8;

}

.button-checkbox>.btn-check:checked+.btn {
  background-color: #0086FF !important;
  color: white !important
}

.button-checkbox>.btn {
  width: 120px;
  background-color: #F5F5F5 !important;
  color: #888888 !important;
  border: none !important;
}

.button-checkbox>.btn:hover {
  background-color: #DDEDF3 !important;
}

.button-checkbox>.btn-check:checked+.btn {
  background-color: #0086FF !important;
  color: white !important;
}




.dropdown-btn:hover {
  background-color: white !important;
  color: #212529;
}


.custom-button:hover {
  border-bottom: 1px solid #0055AF !important;
}

/* menu style */


.group:before {
  content: '';
  height: 100%;
  background-color: #e2dfdf;
  position: absolute;
  z-index: 5;
  left: 20px;
  width: 1px;
  top: 0;
}



.subgroup:before {
  content: '';
  height: 100%;
  background-color: #e2dfdf;
  position: absolute;
  z-index: 5;
  left: 50px;
  width: 1px;
  top: 0;
}

/* list */
.custom-list {
  list-style-type: none;
}

.custom-list>li {

  padding-block: 0.45rem;
}


.nav-link {
  color: #232323;

}

.nav>.nav-item>.active {
  color: white !important;
  background-color: #0086FF !important;
}



#custom-tab>.nav-item>.nav-link {

  width: 88px;
  text-align: center;
}

.ifont {
  font-size: 18pt;
  padding-bottom: 0;
}

.icon-openMenu {
  transition: rotate 0.5s linear;
}

.icon-close {
  transition: rotate 0.5s linear;
}

.hide-div {
  display: none;
}

.fc-dayGridMonth-view {
  position: relative;
  z-index: 0;
  width: 100%;
  color: #444444 !important;
}

.fc-button-primary {
  background-color: #005FC3 !important;
  border-color: #005FC3 !important
}

.fc-event-title {
  color: #444444;
}

.fc-event-title-container>.fc-event-title {
  color: white;
}

.fc-event-time {
  color: #888888;
}

.fc-col-header-cell-cushion {
  color: #444444;
}

.fc-col-header-cell-cushion:hover {
  color: #444444;
}

.fc-daygrid-day-number {
  color: #888888;
}

/* validation style */
.error {
  color: #ee4f4f;
}

.no-data {
  display: none;
}


.login-cover {
  background: url('https://www.udndigital.com.tw/wp-content/uploads/2022/09/it-services.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  filter: blur(8px);
  -webkit-filter: blur(10px);
  opacity: 0.6;
  position: fixed;
  top: 0;
  left: 0;
}

.left {
  margin-left: 17.5rem;
}

.personal-tag-content {
  background-color: #FAFAFA;
  padding: 1rem;
}


.custom-tooltip-3 {
  border-radius: 3px;
  padding: 3px;
  position: absolute;
  z-index: 3;
  margin-top: 3px;
  top: 35px;
  left: -36px;
}






@keyframes rotate {
  0% {
      left: 0;
      top: 0;
      transform: rotate(0deg);
  }

  20% {
      left: 0;
      top: 0;
      transform: rotate(15deg);
  }

  80% {
      left: -5px;
      top: 0;
      transform: rotate(-60deg);
  }

  100% {
      left: -5px;
      top: 1px;
      transform: rotate(-45deg);
  }
}

.close-btn {
  display: none;
}

#home-overview>div>div>.card {
  min-width: 300px;
  width: 320px;
}

#cards-area-1>.card {
  min-width: 300px;
  width: 320px;
}

#controlBtn1{
  display: none;
}

@media screen and (max-width: 734px) {

  #searchbar.offcanvas.offcanvas-start {
      left: 0 !important;
  }


  .display-none {
      display: none;
  }
  #controlBtn1{
      display: block;
      position: fixed;
      top: 50%;
      right: 1%;
  }
  
  #app {
      padding-top:4rem
  }

  footer{
      padding-left: 0;
  }

  .left {
      margin-left: 0;
  }

  #mainmenu {
      width: 250px;
  }

  #controlBtn {
      display: none !important;
  }

  #main-header {
      z-index: 1;
      position: fixed;
      padding-left: 0 !important;
      display: flex;
      justify-content: end;
  }

  .close-btn {
      display: block;
      left: 40px;
      top: -10px;
  }

  .header-align-center {
      display: none;
  }

  .tab-button-1 {
      width: 110px;
  }

}


@media (prefers-color-scheme: light) {
  :root {
      color: #213547;
      background-color: #ffffff;
  }

  a:hover {
      color: #747bff;
  }

  button {
      background-color: #f9f9f9;
  }
}



.operatingbuttons > .dropstart >.dropdown-toggle::after {
  content: none !important;
  margin-left: 0  !important
}

.operatingbuttons > .dropstart > .dropdown-toggle::before {
  content: none !important;
}

.custom-acc-button .accordion-button:not(.collapsed) {
  background-color: rgb(255, 255, 255) !important;
}

td > a {
    
  word-break:break-all !important
}